
@{
    ViewBag.Title = "Contact";
}

 

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Get in touch with us</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <strong>Contact</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content" style="background: #FFFFFF !important">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="font-bold m-b-xs">
                                CONTACT US
                            </h2>
                            <hr>
                        </div>
                        <div class="col-md-5 b-r">

                            <img src="~/Images/custom/contactus.jpg" style="width: 473px; height: 256px;" />
                            <br /> <br />
                            <div class="text-muted text-justify">
                                Medical Reference is a system which provide better and a safer way to do medical
                                treatments. And our mission is to reduce possibilities and number of medical
                                malpractice. Medical Reference system is the systematic collection of patient
                                health information in a digital format.

                                <br />
                                Contact Us If you have any issue regarding updation in EHR's.
                                <br /><br />
                            </div>
                        </div>
                        <div class="col-md-7">

                            <div>
                               

                                <div class="form-group">
                                    <label class="font-bold">Email</label>
                                    <input type="text" class="form-control" placeholder="abx@xyz.com"/>
                                </div>
                                <div class="form-group">
                                    <label class="font-bold">Subject</label>
                                    <input type="text" class="form-control" placeholder="Website feedback"/>
                                </div>


                                <div class="form-group">
                                    <label class="font-bold">Description</label>
                                    <textarea class="form-control" placeholder="type description here" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                     
                </div>
            </div>

        </div>
    </div>




</div>


